<h1>All Tags</h1>

<% @tags.each do |tag| %>
  <li>
    <%= link_to tag.name, tag_path(tag.id), class: 'article_title' %>
    <% if logged_in? %>
      <p class = "smaller"><%= link_to "Delete Tag", tag_path(tag), method: :delete, data: {confirm: "Really delete the tag?"} %></p>
    <% end %>
  </li>
<% end %><br>

<% if @tags.size == 0 %>
  <h3>NO TAGS FOUND</h3><br>
<% end %>

<%= link_to "<< Return to Index", root_path, class: 'smaller' %>
